html {
  scroll-behavior: smooth;
}

/* カレンダー装飾 */
.calender {
    text-align:center;
    font-size:1.5rem;
    border:solid 0.2rem black;
    margin-top:0.5rem;
}
.calender td{
    padding:0.5rem;
    border:solid 0.1rem black;
}
.calender td:nth-child(1) {
    color:crimson;
}
.calender td:nth-child(7) {
    color:royalblue;
}
.calender_head {
    font-weight:bold;
    border-bottom:double 0.2rem black;
}
.calender_link {
    display:block;
    width:100%;
    height:100%;
}


.test{
    background:lavender;
    border:solid 0.2rem black;
    padding:1.0rem;

}
